body{
    background-color: darkred;
}

h2{
    font-size: 5.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellowgreen;
    text-shadow: 4px 4px gray;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, ul, li a{
   font-size: 1.3em;
   color: goldenrod;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}