nav{
    background-color: darkslategray;
    
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
   
}

ul li{
    margin: 20px;
    color: aliceblue;
    border: 5px solid #fff;
    padding: 20px;
    border-radius: 10px;
}

ul li a{
    color: #fff;
    font-size: 1.5em;
}

li:nth-child(2) {
    border: 5px solid red;
    font-size: 2em;
}

